body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.orange-highlight {
  color: orange;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
#no1 {
  color: goldenrod;
  font-size: 25px;
}
.half-width {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;
}

.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.link-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  color: antiquewhite;
  background-image: linear-gradient(45deg, lightSalmon, orange);
}

.link-button:hover {
  background-image: linear-gradient(
    45deg,
    rgb(253, 176, 146),
    rgb(253, 204, 114)
  );
  color: black;
}
div > p {
  color: dimgray;
}
.dream-area {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.single-experience {
  box-shadow: 10px 10px 40px grey;
  border-radius: 5px;
  height: 80%;
  background-color: white;
}

.experience-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
#full-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, yellow);
  border-image-slice: 1;
}
#full-web:hover {
  box-shadow: 10px 10px 40px gold;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
#baby-web:hover {
  box-shadow: 10px 10px 40px rgb(84, 206, 206);
}
#cr {
  text-align: center;
  color: dimgray;
  font-size: small;
}
